body {
    background: #0d1117;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
}

.container {
    width: 400px;
    margin: 100px auto;
    background: #161b22;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px cyan;
    text-align: center;
}

h1 {
    color: cyan;
}

h2 {
    color: yellow;
}

ul {
    list-style: none;
    padding: 0;
}
ul {
    list-style: none;
    padding: 0;
}

.project {
    background: #0d1117;
    border: 1px solid cyan;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
